<div>
    <%= link_to profile_path(comment.commentor.id) do  %>
            <%= image_tag(comment.commentor.profile.img_url) %>
            <%= comment.commentor.username %> 
    <% end %>
    :
    <%= comment.contents %>
</div>