<div>
<ul>
    <%= render partial: "/profiles/profile_picture" , locals:{profile: user.profile} %>
        <%= link_to profile_path(user.id) do  %>
        <li><%= user.username %>
    <% end %>
    <%= render partial: "follow", locals: { user: user } %>
</ul>
<hr>
</div>