<div>
<ul>
    <%= image_tag(user.profile.img_url) %>
        <%= link_to profile_path(user.id) do  %>
        <li><%= user.username %>
    <% end %>
    <%= render partial: "follow", locals: { user: user } %>
</ul>
<hr>
</div>