<%= render @users %>

<%# # to be removed %>
<%# <hr> %>
<%# <h1>my current followers</h1> %>

<%#> @user_followers.each do |follower| %>
<%# <div> %>
    <%# <ul> %>
        <%# <li> %>
            <%#= follower.username %>
        <%# <li> %>
            <%#= follower.id %>
    <%# </ul> %>
<%# </div> %>
<%# end %>

<%# # to be removed %>
<%# <hr> %>
<%# <h1>my current followeees</h1> %>

<%# @user_followees.each do |followee| %>
<%# <div> %>
    <%# <ul> %>
        <%# <li> %>
            <%#= followee.username %>
        <%# <li> %>
            <%#= followee.id %>
    <%# </ul> %>
<%# </div> %>
<%# end %> 

